.crawler {
  font-size: 0;
  margin: 0 auto;
  white-space: nowrap;
  width: 10px;
}

.crawler div {
  background-color: #0061d5;
  display: inline-block;
  animation: crawler .66s infinite ease-in-out;
  width: 2px;
  height: 10px;
  border-radius: 4px;
}

.btn-primary .crawler div {
  background-color: #fff;
}

.crawler.is-small {
  transform: scale(.7);
}

.crawler.is-large {
  transform: scale(2);
}

.is-loading .crawler div {
  will-change: transform, opacity;
  transform: translateZ(0);
}

.crawler div:nth-child(2) {
  margin-left: 2px;
  animation-delay: .1s;
}

.crawler div:last-child {
  margin-left: 2px;
  left: 8px;
  animation-delay: .2s;
}

@keyframes crawler {
  0%, 80%, to {
    transform: scaleY(1.2);
    opacity: .5;
  }
  
  40% {
    transform: scaleY(1.6);
    opacity: 1;
  }
}

.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
}

.ReactVirtualized__Table__headerRow, .ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReactVirtualized__Table__headerColumn, .ReactVirtualized__Table__rowColumn {
  margin-right: 10px;
  min-width: 0;
}

.ReactVirtualized__Table__rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ReactVirtualized__Table__headerColumn:first-of-type, .ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 10px;
}

.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}

.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.tooltip {
  background-color: #444;
  border-color: #444;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
  max-width: 200px;
  padding: 8px 10px;
  position: relative;
  word-wrap: break-word;
}

.tooltip:before {
  border: 6px solid transparent;
}

.tooltip.is-error:after, .tooltip:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}

.tooltip.is-error:after {
  border: 5px solid transparent;
}

.tooltip.is-error {
  background-color: #feeff2;
  border: 1px solid #ed3757;
  color: #ed3757;
}

.tooltip-target-attached-top.tooltip-target-attached-center > .tooltip {
  margin-bottom: 10px;
}

.tooltip-target-attached-top.tooltip-target-attached-center > .tooltip:before {
  border-top-color: inherit;
  left: 50%;
  margin-left: -6px;
  top: 100%;
}

.tooltip-target-attached-top.tooltip-target-attached-center > .tooltip.is-error:after {
  border-top-color: #feeff2;
  left: 50%;
  margin-left: -5px;
  top: 100%;
}

.tooltip-target-attached-top.tooltip-target-attached-left > .tooltip {
  margin-bottom: 10px;
}

.tooltip-target-attached-top.tooltip-target-attached-left > .tooltip:before {
  border-top-color: inherit;
  left: 10px;
  top: 100%;
}

.tooltip-target-attached-top.tooltip-target-attached-left > .tooltip.is-error:after {
  border-top-color: #feeff2;
  left: 11px;
  top: 100%;
}

.tooltip-target-attached-top.tooltip-target-attached-right > .tooltip {
  margin-bottom: 10px;
}

.tooltip-target-attached-top.tooltip-target-attached-right > .tooltip:before {
  border-top-color: inherit;
  right: 10px;
  top: 100%;
}

.tooltip-target-attached-top.tooltip-target-attached-right > .tooltip.is-error:after {
  border-top-color: #feeff2;
  right: 11px;
  top: 100%;
}

.tooltip-target-attached-middle.tooltip-target-attached-right > .tooltip {
  margin-left: 10px;
}

.tooltip-target-attached-middle.tooltip-target-attached-right > .tooltip:before {
  border-right-color: inherit;
  margin-top: -6px;
  right: 100%;
  top: 50%;
}

.tooltip-target-attached-middle.tooltip-target-attached-right > .tooltip.is-error:after {
  border-right-color: #feeff2;
  margin-top: -5px;
  right: 100%;
  top: 50%;
}

.tooltip-target-attached-middle.tooltip-target-attached-left > .tooltip {
  margin-right: 10px;
}

.tooltip-target-attached-middle.tooltip-target-attached-left > .tooltip:before {
  border-left-color: inherit;
  left: 100%;
  margin-top: -6px;
  top: 50%;
}

.tooltip-target-attached-middle.tooltip-target-attached-left > .tooltip.is-error:after {
  border-left-color: #feeff2;
  left: 100%;
  margin-top: -5px;
  top: 50%;
}

.tooltip-target-attached-bottom.tooltip-target-attached-center > .tooltip {
  margin-top: 10px;
}

.tooltip-target-attached-bottom.tooltip-target-attached-center > .tooltip:before {
  border-bottom-color: inherit;
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
}

.tooltip-target-attached-bottom.tooltip-target-attached-center > .tooltip.is-error:after {
  border-bottom-color: #feeff2;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
}

.tooltip-target-attached-bottom.tooltip-target-attached-left > .tooltip {
  margin-top: 10px;
}

.tooltip-target-attached-bottom.tooltip-target-attached-left > .tooltip:before {
  border-bottom-color: inherit;
  bottom: 100%;
  left: 10px;
}

.tooltip-target-attached-bottom.tooltip-target-attached-left > .tooltip.is-error:after {
  border-bottom-color: #feeff2;
  bottom: 100%;
  left: 11px;
}

.tooltip-target-attached-bottom.tooltip-target-attached-right > .tooltip {
  margin-top: 10px;
}

.tooltip-target-attached-bottom.tooltip-target-attached-right > .tooltip:before {
  border-bottom-color: inherit;
  bottom: 100%;
  right: 10px;
}

.tooltip-target-attached-bottom.tooltip-target-attached-right > .tooltip.is-error:after {
  border-bottom-color: #feeff2;
  bottom: 100%;
  right: 11px;
}

.tooltip-element {
  box-sizing: border-box !important;
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 13px;
  font-weight: 400;
  color: #494949;
  letter-spacing: .01em;
  line-height: 20px;
  z-index: 190;
}

.tooltip-element *, .tooltip-element :after, .tooltip-element :before {
  box-sizing: inherit;
}

.be-item-label {
  text-align: left;
  white-space: nowrap;
}

.be-breadcrumb {
  align-items: center;
  display: flex;
  min-width: 20px;
}

.be-breadcrumb:first-child {
  min-width: 64px;
}

.be .be-breadcrumb .btn-plain {
  color: #777;
}

.be .be-breadcrumb .btn-plain:last-child {
  color: #222;
}

.be-breadcrumb-seperator {
  flex-shrink: 0;
  margin: 1px 8px 0 5px;
}

@keyframes dropdown_menu {
  0% {
    opacity: 0;
  }
  
  60% {
    opacity: 1;
  }
  
  to {
    transform: rotateY(0) rotateX(0);
  }
}

@keyframes dropdown_menu_right_aligned {
  0% {
    transform: rotateY(-10deg) rotateX(-10deg);
  }
}

@keyframes dropdown_menu_left_aligned {
  0% {
    transform: rotateY(10deg) rotateX(-10deg);
  }
}

.dropdown-menu-element-attached-right .aria-menu {
  animation: dropdown_menu .125s, dropdown_menu_right_aligned .125s;
  transform-origin: right top;
}

.dropdown-menu-element-attached-left .aria-menu {
  animation: dropdown_menu .125s, dropdown_menu_left_aligned .125s;
  transform-origin: left top;
}

.dropdown-menu-element {
  box-sizing: border-box !important;
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 13px;
  font-weight: 400;
  color: #494949;
  letter-spacing: .01em;
  line-height: 20px;
  margin-top: 5px;
  perspective: 500px;
  perspective-origin: top;
  z-index: 170;
}

.dropdown-menu-element *, .dropdown-menu-element :after, .dropdown-menu-element :before {
  box-sizing: inherit;
}

.aria-menu {
  background: #fff;
  border: 1px solid #bdc3c7;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
  list-style: none;
  margin: 0;
  padding: 8px 0;
  white-space: nowrap;
}

.aria-menu [role=separator] {
  border: 0;
  border-top: 1px solid #bdc3c7;
  height: 0;
  margin: 8px 0;
}

.aria-menu .lnk, .aria-menu .lnk:focus, .aria-menu .lnk:hover, .aria-menu a, .aria-menu a:focus, .aria-menu a:hover {
  text-decoration: none;
}

.menu-item {
  align-items: center;
  color: #494949;
  cursor: pointer;
  display: flex;
  min-height: 30px;
  padding: 5px 35px 5px 15px;
}

.menu-item.menu-section-header {
  color: #000;
  font-size: 10px;
  font-weight: 600;
}

.menu-item[aria-disabled] {
  cursor: default;
  opacity: .4;
}

.menu-item.is-select-item {
  padding-left: 30px;
  position: relative;
}

.menu-item.is-select-item.is-selected:before {
  border-color: #494949;
  border-style: none solid solid none;
  border-width: 2px;
  bottom: 0;
  content: "";
  height: 12px;
  left: 14px;
  margin: auto;
  position: absolute;
  top: -2px;
  transform: rotate(45deg);
  width: 6px;
}

.menu-item:not([aria-disabled]):focus, .menu-item:not([aria-disabled]):hover {
  background-color: #eaeaea;
  color: #494949;
}

.menu-item:not([aria-disabled]):focus {
  outline: 1px dashed #222;
}

.menu-item svg {
  margin-right: 10px;
}

.be .btn-plain.be-breadcrumbs-drop-down {
  color: #777;
  letter-spacing: 1.5px;
}

.be .btn-plain.be-breadcrumbs-drop-down.be-breadcrumbs-condensed {
  letter-spacing: inherit;
}

.be-breadcrumbs {
  align-items: center;
  display: flex;
  min-width: 0;
  padding-right: 20px;
}

.be-breadcrumb-more {
  align-items: center;
  display: flex;
  min-width: 35px;
}

.be-inline-breadcrumbs {
  color: #777;
  display: flex;
  font-size: 11px;
  min-width: 0;
}

.be-inline-breadcrumbs .be-breadcrumbs {
  padding-right: 0;
}

.be-inline-breadcrumbs .be-breadcrumb:first-child {
  min-width: 43px;
}

.be .be-inline-breadcrumbs .be-breadcrumb .btn-plain {
  color: inherit;
  font-size: 11px;
}

.be-inline-breadcrumbs .be-breadcrumb-more {
  min-width: 16px;
}

.be-date-capitalize {
  text-transform: capitalize;
}

.be-item-name .be-item-details {
  color: #777;
  font-size: 11px;
}

.be-item-name {
  line-height: 15px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: normal;
}

.be-item-icon {
  align-items: center;
  display: flex;
  flex: 0 0 50px;
  justify-content: center;
}

.be-is-small .be-item-icon {
  flex: 0 0 30px;
}

.be-empty {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.be-progress-container {
  left: 0;
  position: absolute;
  top: 0;
  transition: opacity .4s;
  width: 100%;
}

.be-progress-container .be-progress {
  background: #0061d5;
  box-shadow: 0 1px 5px 0 #e4f4ff;
  height: 2px;
  max-width: 100%;
  transition: width .4s;
}

.be-logo {
  padding-left: 20px;
}

.be-logo .be-logo-custom {
  max-height: 32px;
  max-width: 80px;
}

.be-is-small .be-logo .be-logo-custom {
  max-width: 75px;
}

.be-logo .be-logo-placeholder {
  align-items: center;
  background-color: #eaeaea;
  border: 1px dashed;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 75px;
}

.be-is-small .be-logo .be-logo-placeholder {
  width: 60px;
}

.be-logo .be-logo-placeholder span {
  font-size: 10px;
  text-transform: uppercase;
}

.be-logo svg {
  display: block;
}

.be-header {
  align-items: center;
  background: #fcfcfc;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  flex: 0 0 70px;
  padding: 0 25px 0 0;
}

.be-is-small .be-header {
  padding-right: 20px;
}

.be-header .be-search {
  flex: 1;
  padding-left: 20px;
}

.be-sort-selected {
  display: flex;
  flex: 0 0 26px;
}

.be-menu-sort.aria-menu .menu-item {
  padding-right: 45px;
}

.btn.be-btn-sort {
  padding: 7px 6px;
}

.bce:not(.be-is-small) .btn.be-btn-sort {
  display: none;
}

.btn.be-btn-sort svg {
  display: block;
}

.btn.be-btn-add {
  margin-left: 7px;
  padding: 5px 6px;
}

.btn.be-btn-add svg {
  display: block;
}

.be-sub-header, .be-sub-header-right {
  align-items: center;
  display: flex;
}

.be-sub-header {
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 4px 6px -2px rgba(51,51,51,.04);
  flex: 0 0 50px;
  justify-content: space-between;
  padding: 0 20px 0 25px;
}

.be-is-small .be-sub-header {
  padding: 0 15px 0 18px;
}

.bce:not(.be-is-small) .be-sub-header {
  box-shadow: none;
}

.bce.be-is-small .be-sub-header {
  border-bottom: 0 none;
}

.bcu-item-label {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bcu-item-icon-name {
  cursor: default;
  display: flex;
  height: 50px;
  width: 100%;
}

.bcu-item-icon {
  align-items: center;
  flex: 0 0 50px;
}

.bcu-item-icon, .bcu-item-name {
  display: flex;
  justify-content: center;
}

.bcu-item-name {
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  line-height: 15px;
  overflow: hidden;
  text-align: left;
}

.bcu-progress-container {
  background: #eaeaea;
  height: 2px;
  margin-right: 40px;
  transition: opacity .4s;
  width: 100%;
  z-index: 201;
}

.bcu-progress-container .bcu-progress {
  background: #0061d5;
  box-shadow: 0 1px 5px 0 #e4f4ff;
  height: 2px;
  left: 0;
  max-width: 100%;
  top: 0;
  transition: width .1s;
}

.bcu-item-progress {
  align-items: center;
  display: flex;
}

.bcu-progress-label {
  min-width: 40px;
  padding-right: 9px;
}

.bcu-item-action .crawler {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.bcu-item-action button {
  display: flex;
}

.bcu-item-action button svg {
  display: block;
}

.bcu-item-action button .be-icon-in-progress {
  height: 24px;
  width: 24px;
}

.bcu-item-action button .be-icon-in-progress svg {
  display: none;
}

.bcu-item-action button:hover .be-icon-in-progress svg {
  display: block;
}

.bcu-item-action button:hover .be-icon-in-progress .crawler {
  display: none;
}

.bcu-item-row {
  border-bottom: 1px solid rgba(190,212,222,.4);
  outline: none;
}

.bcu-drag-drop-overlay {
  bottom: 0;
  display: none;
  left: 0;
  opacity: .2;
  position: absolute;
  right: 0;
  top: 0;
}

.bcu-upload-state {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  text-align: center;
}

.bcu-upload-state svg {
  margin-bottom: 10px;
}

.bcu-upload-state.bcu-is-droppable .bcu-drag-drop-overlay {
  background: #0061d5;
  display: block;
}

.bcu-upload-state.bcu-is-not-droppable .bcu-drag-drop-overlay {
  background: #c82341;
  display: block;
}

.bcu-upload-state.bcu-has-items {
  display: none;
}

.bcu-upload-state.bcu-has-items.bcu-is-droppable, .bcu-upload-state.bcu-has-items.bcu-is-not-droppable {
  background-color: hsla(0,0%,100%,.8);
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.bcu-upload-state.bcu-has-items.bcu-is-droppable .bcu-drag-drop-overlay, .bcu-upload-state.bcu-has-items.bcu-is-not-droppable .bcu-drag-drop-overlay {
  display: none;
}

.bcu-upload-state-message + .be-input-btn {
  margin-top: 10px;
}

.bcu-upload-state-message + .be-input-link {
  margin-top: 5px;
}

.bcu-droppable-content {
  display: flex;
  flex: 1 0 200px;
  flex-direction: column;
  position: relative;
}

.bcu-droppable-content .bcu-item-list {
  flex: 1;
  position: relative;
}

.bcu-droppable-content .bcu-item-list .ReactVirtualized__Table__Grid {
  outline: none;
}

.bcu-overall-progress-bar {
  align-items: center;
  background: #0061d5;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
  padding-right: 65px;
  position: relative;
  width: 100%;
}

.bcu-overall-progress-bar:hover {
  background: #0063d9;
}

.bcu-overall-progress-bar .bcu-progress {
  background: #fff;
}

.bcu-overall-progress-bar .bcu-progress-container {
  background: transparent;
}

.bcu-overall-progress-bar .bcu-upload-status {
  flex: none;
  font-size: 16px;
  margin-right: 20px;
}

.be.bcu-uploads-manager-container {
  bottom: 0;
  max-height: 0;
  position: fixed;
  transition: max-height .5s;
  width: 100%;
}

.be.bcu-uploads-manager-container .bcu-progress-container {
  margin-right: 0;
}

.be.bcu-uploads-manager-container .bcu-item-progress .bcu-progress-container {
  display: none;
}

.be.bcu-uploads-manager-container .bcu-item-progress .bcu-progress-label {
  margin-left: auto;
}

.be.bcu-uploads-manager-container.bcu-is-visible {
  max-height: 60px;
}

.be.bcu-uploads-manager-container .bcu-uploads-manager-item-list {
  display: none;
  height: 375px;
}

.be.bcu-uploads-manager-container .bcu-uploads-manager-item-list .buik-btn-plain:focus {
  border: 1px solid #b5b5b5;
}

.be.bcu-uploads-manager-container .bcu-uploads-manager-toggle {
  background: 0 0;
  border: 0;
  bottom: 0;
  height: 10px;
  margin: auto 0;
  position: absolute;
  right: 30px;
  top: 0;
  vertical-align: middle;
  width: 10px;
}

.be.bcu-uploads-manager-container .bcu-uploads-manager-toggle:after, .be.bcu-uploads-manager-container .bcu-uploads-manager-toggle:before {
  border: 0 solid #fff;
  content: "";
  height: 6px;
  position: absolute;
  width: 6px;
}

.be.bcu-uploads-manager-container .bcu-uploads-manager-toggle:before {
  border-bottom-width: 2px;
  border-left-width: 2px;
  bottom: 0;
  left: 0;
}

.be.bcu-uploads-manager-container .bcu-uploads-manager-toggle:after {
  border-right-width: 2px;
  border-top-width: 2px;
  right: 0;
  top: 0;
}

.be.bcu-uploads-manager-container.bcu-is-expanded {
  max-height: 435px;
}

.be.bcu-uploads-manager-container.bcu-is-expanded .bcu-uploads-manager-item-list {
  display: block;
}

.be.bcu-uploads-manager-container.bcu-is-expanded .bcu-uploads-manager-toggle:before {
  bottom: 7px;
  left: 7px;
}

.be.bcu-uploads-manager-container.bcu-is-expanded .bcu-uploads-manager-toggle:after {
  right: 7px;
  top: 7px;
}

.be.bcu-uploads-manager-container .bcu-overall-progress-bar:hover .bcu-uploads-manager-toggle:before {
  bottom: -3px;
  left: -3px;
}

.be.bcu-uploads-manager-container .bcu-overall-progress-bar:hover .bcu-uploads-manager-toggle:after {
  right: -3px;
  top: -3px;
}

.be.bcu-uploads-manager-container.bcu-is-expanded .bcu-overall-progress-bar:hover .bcu-uploads-manager-toggle:before {
  bottom: 6px;
  left: 6px;
}

.be.bcu-uploads-manager-container.bcu-is-expanded .bcu-overall-progress-bar:hover .bcu-uploads-manager-toggle:after {
  right: 6px;
  top: 6px;
}

.be.bcu-uploads-manager-container .bcu-item-row {
  padding-right: 5px;
}

.be.bcu-uploads-manager-container .bcu-item-icon-name {
  padding-left: 5px;
}

.be.bcu-uploads-manager-container .bcu-progress {
  box-shadow: none;
}

.be.bcu-uploads-manager-container .bcu-item-list {
  position: relative;
}

.bcu-footer {
  align-items: center;
  background-color: #fcfcfc;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex: 0 0 70px;
  justify-content: space-between;
  padding: 0 20px;
}

.bcu-footer .bcu-footer-message {
  padding: 0 10px;
  text-align: center;
}

.bcu-footer .bcu-footer-right .btn {
  margin-left: 8px;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://cdn01.boxcdn.net/fonts/1.0.2/lato/Lato-Regular.woff2?orgId=00D290000000rQ6) format("woff2"), url(https://cdn01.boxcdn.net/fonts/1.0.2/lato/Lato-Regular.woff?orgId=00D290000000rQ6) format("woff");
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://cdn01.boxcdn.net/fonts/1.0.2/lato/Lato-Bold.woff2?orgId=00D290000000rQ6) format("woff2"), url(https://cdn01.boxcdn.net/fonts/1.0.2/lato/Lato-Bold.woff?orgId=00D290000000rQ6) format("woff");
}

.btn {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  border: 1px solid #bdc3c7;
  border-radius: 2px;
  color: #464a4f;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .035em;
  line-height: 10px;
  margin: 5px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: background-color .05s ease-in-out, border-color .05s ease-in-out;
  vertical-align: top;
  white-space: nowrap;
  zoom: 1;
}

.btn:active, .btn:focus, .btn:hover {
  outline: none;
  text-decoration: none;
}

.btn:not(.is-disabled):hover {
  background-color: #f7f7f7;
}

.btn:not(.is-disabled):active {
  background-color: #ebebeb;
  border-color: #bdc3c7;
}

.btn:not(.is-disabled):focus {
  border-color: #96a0a6;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.btn.is-disabled, .btn.is-loading {
  cursor: default;
  top: 0;
}

.btn.is-loading .btn-content {
  visibility: hidden;
}

.btn.is-loading .btn-loading-indicator {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn.is-disabled {
  box-shadow: none;
  opacity: .4;
}

.btn-plain, .btn-plain:active, .btn-plain:hover {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 400;
}

.btn-plain, .btn-plain:active, .btn-plain:focus, .btn-plain:hover {
  background: transparent;
  box-shadow: none;
}

button.btn-plain::-moz-focus-inner {
  border: 0 none;
}

button svg {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  background-color: #0061d5;
  border-color: #0061d5;
}

.btn-primary:not(.is-disabled):focus {
  border-color: #0061d5;
  box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.8), 0 1px 2px rgba(0,0,0,.1);
}

.btn-primary:not(.is-disabled):hover {
  border-color: #0074fe;
  background-color: #0074fe;
}

.btn-primary:not(.is-disabled):active {
  background-color: #004eac;
  border-color: #004eac;
  box-shadow: none;
}

.btn-primary.is-loading .btn-content {
  background-color: #bdc3c7;
}

.accessibility-hidden {
  top: auto;
  left: -9999px;
  position: absolute;
}

.be {
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #fff;
  border: 0 none;
  color: #222;
  height: 100%;
  letter-spacing: .13px;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.be, .be * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box !important;
}

.be * {
  font-family: inherit;
}

.be :after, .be :before {
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
  text-rendering: inherit;
}

.ReactModal__Body--open .be {
  position: relative;
}

.be ::-webkit-input-placeholder {
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
  opacity: .6;
}

.be ::-moz-placeholder {
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
  opacity: .6;
}

.be :-ms-input-placeholder {
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
  opacity: .6;
}

.be ::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.be ::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-radius: 5px;
}

.be ::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(51,51,51,.2);
  border-radius: 6px;
}

.be ::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(51,51,51,.4);
}

.be ::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(51,51,51,.2);
  border-radius: 6px;
}

.be ::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgba(51,51,51,.4);
}

.be ::-webkit-file-upload-button {
  cursor: pointer;
}

.be select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  background-image: linear-gradient(45deg,transparent 50%,#777 0), linear-gradient(135deg,#777 50%,transparent 0);
  background-position: calc(100% - 14px) 10px, calc(100% - 10px) 10px;
  background-repeat: no-repeat;
  background-size: 4px 4px, 4px 4px;
  border: 1px solid #bdc3c7;
  border-radius: 2px;
  color: inherit;
  cursor: pointer;
  padding: 5px 25px 5px 10px;
}

.be select:hover {
  border-color: #0061d5;
}

.be select:active, .be select:focus {
  background-image: linear-gradient(45deg,transparent 50%,#0061d5 0), linear-gradient(135deg,#0061d5 50%,transparent 0);
  border-color: #0061d5;
  color: #0061d5;
  outline: none;
}

.be select:disabled {
  background-image: linear-gradient(45deg,transparent 50%,#eaeaea 0), linear-gradient(135deg,#eaeaea 50%,transparent 0);
  border-color: #eaeaea;
  color: #eaeaea;
}

.be select:-moz-focusring, .be select::-moz-focus-inner {
  color: transparent !important;
  text-shadow: 0 0 0 #222 !important;
}

.be select::-ms-expand {
  display: none !important;
}

.be input[type=search], .be input[type=text], .be textarea {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(51,51,51,.1);
  color: #222;
  font-size: 13px;
  height: 34px;
  line-height: 15px;
  padding: 7px;
  transition: border-color .15s linear, box-shadow .1s linear;
  width: 100%;
}

.be input[type=search]:hover, .be input[type=text]:hover, .be textarea:hover {
  border-color: #0061d5;
  box-shadow: inset 0 1px 1px rgba(51,51,51,.2);
}

.be input[type=search]:focus, .be input[type=text]:focus, .be textarea:focus {
  border-color: #0061d5;
  box-shadow: none;
  outline: 0;
}

.be input[type=search]:invalid, .be input[type=text]:invalid, .be textarea:invalid {
  border: 1px solid #c82341;
}

.be input[type=search]:disabled, .be input[type=text]:disabled, .be textarea:disabled {
  background-color: #fcfcfc;
  border-color: #e5e5e5;
  box-shadow: none;
  color: #b5b5b5;
}

.be input[type=search]:disabled:hover, .be input[type=text]:disabled:hover, .be textarea:disabled:hover {
  border-color: #e5e5e5;
}

.be input[type=search]:disabled:-ms-input-placeholder, .be input[type=search]:disabled::-ms-input-placeholder, .be input[type=text]:disabled:-ms-input-placeholder, .be input[type=text]:disabled::-ms-input-placeholder, .be textarea:disabled:-ms-input-placeholder, .be textarea:disabled::-ms-input-placeholder {
  color: #ccc;
}

.be input[type=search]:disabled::placeholder, .be input[type=text]:disabled::placeholder, .be textarea:disabled::placeholder {
  color: #ccc;
}

.be input[type=search]:invalid:focus, .be input[type=text]:invalid:focus, .be textarea:invalid:focus {
  border: 1px solid #ccc;
}

.be label div {
  padding: 10px 0;
}

.be .btn-plain {
  background: none;
  border: 0 none;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  max-width: 100%;
  outline: none;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: none;
  white-space: nowrap;
  zoom: 1;
}

.be .btn-plain::-moz-focus-inner {
  border: 0 none;
}

.be .btn-plain:active, .be .btn-plain:focus, .be .btn-plain:hover {
  text-decoration: underline;
}

.be ul {
  margin: 0;
  padding: 0;
}

.be-app-element {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.be-input-link {
  color: #0061d5;
  cursor: pointer;
  display: block;
}

.be-input-link:active, .be-input-link:focus, .be-input-link:hover {
  text-decoration: underline;
}

.be-input-link input {
  display: none;
}

.be-input-btn {
  cursor: pointer;
  display: block;
}

.be-hidden, .be-input-btn input {
  display: none;
}

.be-modal .be-modal-btns {
  display: flex;
  justify-content: center;
  padding: 15px 0 0;
}

.be-modal .be-modal-btns .btn {
  margin-left: 8px;
}

.be-modal .be-modal-error {
  color: #c82341;
}

.be-modal-dialog-content, .be-modal-dialog-content-full-bleed, .be-modal-wrapper-content {
  background-color: #fff;
  border: 0 none;
  border-radius: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.be-modal-dialog-overlay, .be-modal-wrapper-overlay {
  background-color: rgba(51,51,51,.4);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.be-modal-dialog-content {
  border-radius: 4px;
  bottom: auto;
  left: 50%;
  margin-right: -50%;
  padding: 25px;
  position: absolute;
  right: auto;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
}

.be-is-small .be-modal-dialog-content {
  width: 340px;
}

.be-modal-dialog-overlay {
  position: absolute;
}

.bce .ReactVirtualized__Table__headerColumn .icon-chevron-down {
  position: relative;
  top: -2px;
}

.btn.bce-btn-more-options {
  letter-spacing: 1.5px;
}

.bce-item-grid {
  flex: 1;
}

.bce-item-grid .ReactVirtualized__Table__Grid {
  outline: none;
}

.bce-item-row {
  border-left: 2px solid transparent;
  border-top: 1px solid #eaeaea;
  outline: none;
}

.bce-item-row .bce-item-coloumn {
  color: #777;
}

.bce-item-row .bce-more-options {
  opacity: 0;
}

.bce-item-row .bce-more-options .btn {
  background-color: transparent;
  margin-left: 8px;
}

.be-is-touch .bce-item-row .bce-more-options {
  opacity: 1;
}

.bce-item-row:active, .bce-item-row:focus, .bce-item-row:hover {
  background-color: rgba(228,244,255,.4);
  border-left-color: #1a5976;
}

.bce-item-row:active .bce-more-options, .bce-item-row:focus .bce-more-options, .bce-item-row:hover .bce-more-options {
  opacity: 1;
}

.bce-item-row:active .bce-item-coloumn, .bce-item-row:focus .bce-item-coloumn, .bce-item-row:hover .bce-item-coloumn, .be .bce-item-row:active .btn-plain, .be .bce-item-row:focus .btn-plain, .be .bce-item-row:hover .btn-plain {
  color: #1a5976;
}

.bce-item-row.bce-item-row-selected {
  background-color: #e4f4ff;
  border-top-color: #bed4de;
}

.bce-item-row.bce-item-row-selected .bce-more-options {
  opacity: 1;
}

.bce-item-row.bce-item-row-selected .bce-item-coloumn, .be .bce-item-row.bce-item-row-selected .btn-plain {
  color: #1a5976;
}

.bce-item-row:first-child {
  border-top-color: transparent !important;
}

.bce-item-row:last-child {
  border-bottom: 1px solid #eaeaea;
}

.bce-item-row:last-child.bce-item-row-selected {
  border-bottom-color: #bed4de;
}

.bce-item-row.bce-item-row-selected + .bce-item-row {
  border-top-color: #bed4de;
}

.bce-item-header-row {
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 4px 6px -2px rgba(51,51,51,.04);
}

.bce-item-header-row .ReactVirtualized__Table__sortableHeaderColumn {
  color: #777;
  cursor: pointer;
  font-weight: 400;
  text-transform: none;
}

.bce-item-header-row .ReactVirtualized__Table__sortableHeaderColumn:active, .bce-item-header-row .ReactVirtualized__Table__sortableHeaderColumn:focus, .bce-item-header-row .ReactVirtualized__Table__sortableHeaderColumn:hover {
  color: #1a5976;
  outline: none;
}

.bce-content {
  display: flex;
  flex: 1 0 230px;
  flex-direction: column;
  position: relative;
}

.be-modal.be-modal-share .bce-shared-access-select {
  height: 27px;
}

.be-modal.be-modal-share .be-modal-content {
  position: relative;
}

.be-modal.be-modal-share .be-modal-content input[type=text] {
  border-radius: 3px 0 0 3px;
  border-right: 0 none;
  text-overflow: ellipsis;
  width: 296px;
}

.be-is-small .be-modal.be-modal-share .be-modal-content input[type=text] {
  width: 237px;
}

.be-modal.be-modal-share .be-modal-button-copy {
  border-radius: 0 3px 3px 0;
  font-size: 10px;
  font-weight: 700;
  height: 34px;
  letter-spacing: 1px;
  line-height: 34px;
  margin: 0 0 0 -5px;
  padding: 0 10px;
  text-transform: uppercase;
}

.be-modal.be-modal-share .be-modal-btns {
  align-items: center;
  justify-content: space-between;
}

.tab-view {
  margin-top: 6px;
}

.dynamic-tabs .dynamic-tabs-bar {
  display: flex;
  flex: none;
}

.dynamic-tabs .dynamic-tabs-bar .left-arrow {
  flex: 0 0 8px;
  margin: 0 5px 0 -13px;
}

.dynamic-tabs .dynamic-tabs-bar .right-arrow {
  flex: 0 0 8px;
  margin: 0 -13px 0 5px;
}

.dynamic-tabs .dynamic-tabs-wrapper {
  flex: 0 0 100%;
  overflow: hidden;
}

.dynamic-tabs .tabs {
  position: relative;
  transition: left .2s;
}

.dynamic-tabs .tabs .tab, .dynamic-tabs .tabs .tab:hover {
  flex: none;
  max-width: 90%;
}

.dynamic-tabs .tabs .tab .tab-title, .dynamic-tabs .tabs .tab:hover .tab-title {
  padding: 0 7px;
}

.tabs {
  display: flex;
}

.tabs .tab, .tabs .tab:hover {
  border-bottom: 1px solid #eaeaea;
  color: #999ea4;
  display: inline-block;
  flex: 1;
  font-size: 13px;
  letter-spacing: .035em;
  line-height: 40px;
  position: relative;
}

.tabs .tab.single-tab-showing, .tabs .tab:hover.single-tab-showing {
  margin-bottom: 10px;
  width: 100%;
}

.tabs .tab.is-selected, .tabs .tab:hover.is-selected {
  color: #222;
}

.tabs .tab.is-selected .tab-underline, .tabs .tab:hover.is-selected .tab-underline {
  opacity: 1;
}

.tabs .tab.is-selected .tab-close, .tabs .tab:hover.is-selected .tab-close {
  display: block;
}

.tabs .tab .tab-underline, .tabs .tab:hover .tab-underline {
  background-color: #0061d5;
  bottom: -1px;
  height: 2px;
  opacity: 0;
  position: absolute;
  transition: opacity .3s cubic-bezier(.215,.61,.355,1);
  width: 100%;
}

.tabs .tab .tab-content, .tabs .tab:hover .tab-content {
  display: flex;
}

.tabs .tab .tab-title, .tabs .tab:hover .tab-title {
  overflow: hidden;
  padding-right: 5px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabs .tab .tab-close, .tabs .tab:hover .tab-close {
  display: none;
  flex: none;
  font-weight: 700;
  padding-right: 7px;
}

.tabs .tab:focus {
  outline: 1px dotted #0061d5;
}

.tabs .tab:focus .tab-title, .tabs .tab:hover .tab-title {
  color: #222;
}

.tabs .tab-spacer {
  border-bottom: 1px solid #eaeaea;
  flex: 1 1 auto;
}

.tabs .tab.btn-plain:not(.is-disabled):active {
  background: transparent;
  border-bottom: 1px solid #eaeaea;
}

.tabs .tab.btn-plain:not(.is-disabled):focus {
  border-color: #eaeaea;
  box-shadow: none;
}

.tabs .tab.btn-plain:not(.is-disabled):hover {
  background: transparent;
}

.tab-panels {
  height: 100%;
  padding-top: 10px;
}

.tab-panels .tab-panel {
  display: none;
}

.tab-panels .tab-panel.is-selected {
  display: block;
  height: 100%;
}

.tab-panels .tab-panel:focus {
  outline: none;
}

.tab-view.show-outline .tab-panel:focus {
  outline: 1px dotted #0061d5;
}

.badge {
  background: #ebebeb;
  color: #666;
  display: inline-block;
  padding: 2px 3px;
  border-radius: 3px;
  font-size: 9px;
  font-weight: 700;
  text-align: center;
  line-height: normal;
  text-decoration: none;
}

.badge-info {
  background: #9abcd2;
  color: #fff;
}

.badge-warning {
  background: #ff8000;
  color: #fff;
}

.badge-highlight {
  background: #1a74ba;
  color: #fff;
}

.classification-badge {
  text-transform: uppercase;
}

.item-properties {
  margin: 0;
}

.item-properties dt {
  color: #767676;
}

.item-properties dd {
  line-height: 16px;
  margin-bottom: 20px;
}

.item-properties .description-textarea {
  border-color: transparent;
  box-shadow: none;
  margin-left: -1px;
  max-height: 110px;
  min-height: 34px;
  padding: 0;
  resize: none;
  transition: background-color .2s, border-color .2s, margin-left .2s, padding .2s;
  width: 100%;
}

.item-properties .description-textarea:focus {
  background-color: #fbfbfc;
  border-color: #eaeaea;
  margin-left: 0;
  max-height: none;
  padding: 7px;
}

.access-stats-item {
  list-style: none;
}

.access-stats-item .access-stats-item-content {
  background: #ecf4fc;
  border-radius: 2px;
  color: #2a62b9;
  display: flex;
  line-height: 10px;
  margin: 0 0 5px;
  padding: 9px;
  text-align: left;
  width: 100%;
}

.access-stats-item svg {
  margin-right: 8px;
}

.access-stats-item .access-stats-label {
  flex-grow: 1;
}

.access-stats-item .btn-plain .access-stats-label:hover {
  text-decoration: underline;
}

.access-stats .access-stats-view-details {
  margin-top: 10px;
}

.access-stats .access-stats-view-details:hover {
  text-decoration: underline;
}

.access-stats .access-stats-header {
  color: #afafaf;
  margin: 0 0 10px;
}

.access-stats .access-stats-list {
  margin: 0;
}

.bcs-section-content {
  padding: 15px 0 5px;
}

.bcs-section {
  margin: 0 20px 20px 30px;
}

.be .btn-plain.bcs-section-title {
  border-bottom: 1px solid #eaeaea;
  padding: 5px 0 10px;
  text-align: left;
  width: 100%;
}

.be .btn-plain.bcs-section-title:active, .be .btn-plain.bcs-section-title:focus, .be .btn-plain.bcs-section-title:hover {
  border-bottom-color: #0061d5;
  text-decoration: none;
}

.bcs-content {
  flex: 1;
  position: relative;
}

.bcs-content .bcs-title {
  font-size: 16px;
  font-weight: 200;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0 30px;
}

.bcs-content .bcs-scroll-content-wrapper {
  bottom: 0;
  left: 0;
  overflow: auto;
  padding-top: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.bcs-content .bcs-scroll-content-wrapper.bcs-section-has-title {
  padding-top: 0;
  top: 50px;
}

.bcs-content .bcs-scroll-content-wrapper .bcs-scroll-content {
  width: 325px;
}

.be-file-keywords .be-timelines {
  margin: 20px 0 0;
}

.be-file-keywords .be-timeline {
  height: 20px;
}

.be-file-keyword {
  display: inline-block;
  margin: 0 3px 8px;
}

.be .be-file-keyword .btn-plain {
  border: 1px solid #ccc;
  color: #777;
  padding: 5px 10px;
}

.be .be-file-keyword .btn-plain.be-file-keyword-word {
  border-radius: 13px;
  max-width: 265px;
  white-space: normal;
}

.be .be-file-keyword .btn-plain.be-file-keyword-delete {
  border-left: 0 none;
  border-radius: 0 8px 8px 0;
}

.be .be-file-keyword .btn-plain.be-file-keyword-selected, .be .be-file-keyword .btn-plain:active, .be .be-file-keyword .btn-plain:focus, .be .be-file-keyword .btn-plain:hover {
  background-color: #0061d5;
  border-color: #0061d5;
  color: #fff;
  text-decoration: none;
}

.be .be-file-keyword .btn-plain.be-file-keyword-selected svg path, .be .be-file-keyword .btn-plain:active svg path, .be .be-file-keyword .btn-plain:focus svg path, .be .be-file-keyword .btn-plain:hover svg path {
  fill: #fff;
  stroke: #fff;
}

.be .btn-plain.be-timeline-time {
  border-radius: 6px;
  cursor: pointer;
  height: 6px;
  opacity: .6;
  position: absolute;
}

.be .btn-plain.be-timeline-time:active, .be .btn-plain.be-timeline-time:focus, .be .btn-plain.be-timeline-time:hover {
  opacity: 1;
}

.be-timeline {
  display: flex;
  padding: 0 0 20px;
}

.be-timeline:last-child {
  padding-bottom: 5px;
}

.be-timeline-wrapper {
  flex: 1;
  height: 6px;
  position: relative;
}

.be-timeline-line {
  background-color: #0061d5;
  border-radius: 6px;
  height: 6px;
  opacity: .25;
  position: absolute;
}

.be-timeline-image {
  align-items: center;
}

.be-timeline-image .be-timeline-image-container {
  border-radius: 100%;
  overflow: hidden;
  width: 45px;
}

.be-timeline-image .be-timeline-label img {
  filter: brightness(1.5);
  height: 45px;
  transition: transform .3s;
  vertical-align: middle;
  width: 45px;
}

.be-timeline-image .be-timeline-label img:hover {
  transform: scale(1.3);
}

.be-timeline-image .be-timeline-wrapper {
  margin-left: 10px;
}

.be-timeline-image .be-timeline-line {
  width: 215px;
}

.be-timeline-text {
  color: #777;
  flex-direction: column;
  font-size: 12px;
  height: 50px;
}

.be-timeline-text .be-timeline-label {
  padding-bottom: 6px;
}

.be-timeline-text .be-timeline-line {
  width: 270px;
}

.be-transcript {
  color: #777;
  font-family: monospace;
  font-size: 11px;
}

.be-transcript .ReactVirtualized__Table__Grid {
  cursor: pointer;
  outline: none;
}

.be-transcript .ReactVirtualized__Table__Grid .ReactVirtualized__Table__row {
  align-items: flex-start;
}

.be-transcript .ReactVirtualized__Table__Grid .ReactVirtualized__Table__row .ReactVirtualized__Table__rowColumn:first-of-type {
  margin: 0;
}

.be-transcript .ReactVirtualized__Table__Grid .ReactVirtualized__Table__row .be-transcript-column {
  padding: 10px 0;
  width: 200px;
}

.be-transcript .ReactVirtualized__Table__Grid .ReactVirtualized__Table__row .be-transcript-time-column {
  padding: 10px 0 0 5px;
}

.be-transcript .ReactVirtualized__Table__Grid .ReactVirtualized__Table__row:active, .be-transcript .ReactVirtualized__Table__Grid .ReactVirtualized__Table__row:focus {
  background-color: rgba(228,244,255,.4);
  outline: none;
}

.be .btn-plain.be-transcript-expand {
  height: 35px;
  position: absolute;
  right: -5px;
  top: -48px;
  width: 30px;
}

.be .btn-plain.be-transcript-expand:hover svg path {
  fill: #777;
}

.be-modal.be-modal-transcript .be-modal-dialog-content-full-bleed {
  display: flex;
  flex-direction: column;
}

.be-modal.be-modal-transcript .be-modal-dialog-content-full-bleed .be-modal-content {
  flex: 1;
  font-family: monospace;
  font-size: 12px;
  overflow: auto;
  padding: 0 30px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.be-modal.be-modal-transcript .be-modal-dialog-content-full-bleed .be-modal-content p {
  margin: 20px 0;
}

.be-modal.be-modal-transcript .be-modal-dialog-content-full-bleed .be-modal-btns {
  padding: 0 0 15px;
}

.be-modal.be-modal-transcript .be-modal-dialog-content-full-bleed .be-modal-transcript-header {
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  padding: 15px 0 10px;
}

.be .be-modal.be-modal-transcript .be-modal-dialog-content-full-bleed .be-modal-transcript-header .btn-plain.be-transcript-collapse, .be .be-modal.be-modal-transcript .be-modal-dialog-content-full-bleed .be-modal-transcript-header .btn-plain.be-transcript-copy {
  margin-left: 15px;
}

.be .be-modal.be-modal-transcript .be-modal-dialog-content-full-bleed .be-modal-transcript-header .btn-plain.be-transcript-collapse:hover svg path, .be .be-modal.be-modal-transcript .be-modal-dialog-content-full-bleed .be-modal-transcript-header .btn-plain.be-transcript-copy:hover svg path {
  fill: #777;
}

.be .be-keyvalue {
  margin: 0 0 20px;
}

.be .be-keyvalue:last-child {
  margin-bottom: 0;
}

.be-skills-error {
  color: #777;
}

.lnk, a {
  color: #0061d5;
  outline: none;
  text-decoration: none;
}

.lnk {
  display: inline;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent none;
  filter: none;
  cursor: pointer;
}

.lnk, .lnk:active, .lnk:hover {
  box-shadow: none;
  line-height: inherit;
  height: auto;
}

.lnk:active, .lnk:hover {
  background: transparent;
}

.lnk:active {
  color: #0061d5;
  text-decoration: underline;
}

.lnk.is-disabled:focus, .lnk:focus, a.is-disabled:focus, a:focus {
  outline: none;
  text-decoration: underline;
}

.lnk.is-disabled, .lnk.is-disabled:active, .lnk.is-disabled:hover, a.is-disabled, a.is-disabled:active, a.is-disabled:hover {
  color: #999;
  cursor: default;
  text-decoration: none;
}

.lnk-plain {
  color: inherit;
}

.lnk-plain:active, .lnk-plain:hover {
  text-decoration: none;
}

.lnk-plain.is-disabled, .lnk-plain.is-disabled:active, .lnk-plain.is-disabled:hover {
  color: #999;
}

a svg {
  pointer-events: none;
}

.link {
  color: #64686d;
  font-smoothing: antialiased;
  line-height: 1.5em;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
  transition: color .05s;
  white-space: nowrap;
}

.link:hover {
  color: #0061d5;
}

.link-group-title {
  color: #a3adb9;
  font-size: 10px;
  letter-spacing: .1em;
  line-height: 28px;
  text-transform: uppercase;
}

.be .item-properties dd {
  margin-left: 0;
}

.be .item-properties dd:last-child {
  margin-bottom: 0;
}

.inline-alert {
  border-radius: 2px;
  display: none;
  margin: 10px 0;
  padding: 14px 10px;
}

.inline-alert.inline-alert-visible {
  display: block;
}

.inline-alert.inline-alert-warning {
  background-color: #fffbe5;
  border: 1px solid #ede097;
  color: #81721b;
}

.inline-alert.inline-alert-error {
  background-color: #feeff2;
  border: 1px solid #eb8b9c;
  color: #c82341;
}

.bcs .tab-view {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.bcs .tabs {
  margin: 0 30px;
}

.bcs .tab-panels {
  padding-top: 0;
}

.bcs .tab-panels .tab-panel.is-selected, .be.bcs {
  display: flex;
}

.be.bcs {
  background-color: #fcfcfc;
  width: 340px;
}

.bcs-loading {
  align-items: center;
  display: flex;
  flex: 1;
}

.bcpr-btns {
  display: flex;
}

.be .bcpr-btns .btn-plain.bcpr-btn {
  padding: 0 15px 0 5px;
}

.be .bcpr-btns .btn-plain.bcpr-btn:active, .be .bcpr-btns .btn-plain.bcpr-btn:hover {
  background: none;
}

.bcpr-header {
  background-color: #fcfcfc;
  border-bottom: 1px solid #ccc;
  flex: 0 0 45px;
  font-size: 13px;
  justify-content: space-between;
  padding: 0 0 0 15px;
}

.bcpr-header, .bcpr-name {
  align-items: center;
  display: flex;
}

.bcpr-name span {
  font-weight: 600;
  padding-left: 5px;
}

.bcpr {
  display: flex;
  flex-direction: column;
}

.bcpr .bcpr-body {
  display: flex;
  flex: 1;
}

.bcpr .bcpr-container {
  display: flex;
  flex: 1;
  position: relative;
}

.bcpr .bcpr-content {
  flex: 1;
}

.bcpr .bp-navigate {
  display: none !important;
}

.bcpr .bcpr-navigate-right {
  border-radius: 2px 0 0 2px;
  right: 0;
}

.bcpr .bcpr-navigate-left, .bcpr .bcpr-navigate-right {
  display: block;
  height: 64px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition-property: opacity;
  width: 50px;
}

.bcpr .bcpr-nav-is-visible .bcpr-navigate-left, .bcpr .bcpr-nav-is-visible .bcpr-navigate-right, .bcpr .bcpr-navigate-left:hover, .bcpr .bcpr-navigate-right:hover {
  opacity: 1;
}

.bcpr .bcs {
  border-left: 1px solid #eaeaea;
}

.bcpr.be-is-small .bcpr-body {
  position: relative;
}

.bcpr.be-is-small .bcs {
  position: absolute;
  right: 0;
}