.THIS .form-labels{
    color: #131F6B;
    font-size: 15px;
    font-family: ProximaNova-Semibold,sans-serif;
    font-weight: bold;
    line-height: 26px;
}
.THIS .slds-card__header{
    text-align:left !important;

}

.THIS .slds-form-element__control{
    
    border-bottom: 1px solid rgb(221, 219, 218);
}
.THIS .record-view-Div{
    padding-top:10px;
    width:95% ;
    margin:auto ;
}
.THIS .slds-button_icon{
    display:none;
}