.THIS .header1{
    font-size:22px;
    font-family: 'ProximaNova-Bold',sans-serif ;
    font-weight: bold;
    color: #131f6b;
}
.THIS .header2{
    font-size:15px;
    font-family: 'ProximaNova-Bold',sans-serif ;
    font-weight: bold;
    color: #131f6b;
}
.THIS .content-text{
    font-size:13px;
    font-family: 'ProximaNova-rg',sans-serif ;
    
}

.THIS .slds-col{
    background: #FFFFFF;
    padding-left:20px;
}

.THIS .form-label{
    color: #333333!important;
    opacity: 100%;
    font-size: 13px;
    font-family: ProximaNova-rg,sans-serif;
    line-height: 18px;
}