.THIS .header1{
    font-size:22px;
    font-family: 'ProximaNova-Bold',sans-serif ;
    font-weight: bold;
    color: #131f6b;
}
.THIS .Form-P{
    color: #333333!important;
    opacity: 100%;
    font-size: 15px;
    font-family: ProximaNova-Bold,sans-serif;
    line-height: 18px;
}

.THIS .slds-grid{
    
}